<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maler

    </title>
</head>

<body>
    <h4>testing from:</h4>

    <form action="/send" method="POST">
        <label for="">Give youre Email to receive infos</label>
        <input type="email" name="email" id="">
        <input type="submit" value="send">
    </form>


    <h2>Registerform:</h2>
    <form action="/new" method="POST">
        <input type="text" name="firstName" id="firstName" placeholder="First Name">
        <input type="text" name="lastName" id="lastName" placeholder="Last Name">
        <input type="email" name="email" id="" placeholder="Email">
        <input type="password" name="password" id="" placeholder="password">
        <input type="submit" value="send">

    </form>
</body>

</html>